META_APP_ID=your_meta_app_id
META_APP_SECRET=your_meta_app_secret
PAGE_ACCESS_TOKEN=your_insta_page_access_token_using_insta_graphAPI
WEBHOOK_VERIFY_TOKEN=your_webHook_token


FANVUE_PROFILE_URL=your_fanvue_acc


PORT=3000
NODE_ENV=development
